<!DOCTYPE html>
<html>
  <% include _partial/head.ejs %>
  <body>
    <div id="container">
      <div id="wrap">
        <% include _partial/header.ejs %>
        <div class="outer">
          <section id="main">
            <% archives.forEach(function(archive) { %>
              <% archive.archive_nodes.forEach(function(archive_node) { %>
              <section class="archives-wrap">
                <div class="archive-year-wrap">
                  <a href="<%- archive.link %>" class="archive-year"><%- archive.title %></a>
                </div>
                <div class="archives">
                  <% archive_node.articles.forEach(function(article) { %>
                  <article class="archive-article archive-type-post">
                    <div class="archive-article-inner">
                      <header class="archive-article-header">
                        <a href="<%- article.link %>" class="archive-article-date">
                          <time datetime="<%- article.date %>" itemprop="datePublished"><%- article.date %></time>
                        </a>
                        <h1 itemprop="name">
                          <a class="archive-article-title" href="<%- article.link %>"><%- article.title %></a>
                        </h1>
                      </header>
                    </div>
                  </article>
                  <% }) %>
                </div>
              </section>
              <% }) %>
            <% }) %>
          </section>
          <% include _partial/sidebar.ejs %>
        </div>
        <% include _partial/footer.ejs %>
      </div>
      <% include _partial/mobile-nav.ejs %>
    </div>
  </body>
</html>