<!DOCTYPE html>
<html>
  <% include _partial/head.ejs %>
  <body>
    <div id="container">
      <div id="wrap">
        <% include _partial/header.ejs %>
        <div class="content">
          <section id="main">
            <% archives.forEach(function(archive) { %>
              <section class="archives-wrap">
                <h1><%- archive.title %></h1>
                <% archive.archive_nodes.forEach(function(archive_node) { %>
                  <ul>
                    <% archive_node.articles.forEach(function(article) { %>
                    <li>
                      <time datetime="<%- article.date %>"><%- article.date %></time>
                      <a href="<%- article.link %>"><%- article.title %></a>
                    </li>
                    <% }) %>
                  </ul>
                <% }) %>
              </section>
            <% }) %>
          </section>
          <% include _partial/sidebar.ejs %>
        </div>
        <% include _partial/footer.ejs %>
      </div>
      <% include _partial/mobile-nav.ejs %>
    </div>
  </body>
</html>