<!DOCTYPE html>
<html>
  <% include _partial/head.ejs %>
  <body>
    <div id="container">
      <div id="wrap">
        <% include _partial/header.ejs %>
        <div class="content">
          <section id="main">
            <article id="post-browser-timing" class="article" itemscope itemprop="blogPost">
              <div class="article-inner">
                <header class="article-header">
                  <h1 class="article-title" itemprop="name"><%- article.title %></h1>
                </header>
                <hr>
                <div class="article-meta">
                  <i class="fa fa-calendar"></i>
                  <time datetime="<%- article.link %>"><%- article.date %></time>
                </div>
                <div class="article-summary">
                  <%- article.summary %>
                </div>
                <hr>
                <div class="article-entry" itemprop="articleBody">
                  <%- article.content %>
                </div>
                <footer class="article-footer">
                  <ul class="article-share-box bdsharebuttonbox right">
                    <li class="article-share-btn">
                      <a href="#" class="fa fa-weibo" data-cmd="tsina" title="分享到新浪微博"></a>
                    </li>
                    <li class="article-share-btn">
                      <a href="#" class="fa fa-wechat"  data-cmd="weixin" title="分享到微信"></a>
                    </li>
                    <li class="article-share-btn">
                      <a href="#" class="fa fa-youdaoyunbiji"  data-cmd="youdao" title="分享到有道云笔记"></a>
                    </li>
                  </ul>
                </footer>
              </div>
            </article>
          </section>
          <% include _partial/sidebar.ejs %>
        </div>
        <% include _partial/footer.ejs %>
      </div>
      <% include _partial/mobile-nav.ejs %>
      <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{},"image":{"viewList":["tsina","weixin","youdao"],"viewText":"分享到：","viewSize":"32"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","weixin","youdao"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
  </body>
</html>