<!DOCTYPE html>
<html>
  <% include _partial/head.ejs %>
  <body>
    <div id="container">
      <div id="wrap">
        <% include _partial/header.ejs %>
        <div class="content">
          <section id="main">
            <% articles.forEach(function(article) { %>
              <article id="post-<%- article.slug %>" class="article" itemscope itemprop="blogPost">
                <div class="article-inner">
                  <a href="<%- article.link %>" class="preview">
                    <h1 itemprop="name">
                      <%- article.title %>
                    </h1>
                    <p><%- article.summary %></p>
                  </a>
                  <div class="article-meta">
                    <i class="fa fa-calendar"></i>
                    <time datetime="<%- article.date %>"><%- article.date %></time>
                  </div>
                  <hr>
                </div>
              </article>
            <% }) %>
          </section>
          <% include _partial/sidebar.ejs %>
        </div>
        <% include _partial/footer.ejs %>
      </div>
      <% include _partial/mobile-nav.ejs %>
    </div>
  </body>
</html>